* {
    box-sizing: border-box;
}

body {
    margin:0 auto;
    background-color: #228E7B;
    color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
}

header {
    font-size: 30px;
    text-transform: uppercase;
    background-color: #476593;
    text-align: center;
}

header h1 {
    margin: 0;
    padding: 15px 10px;
    border-bottom: solid white 1px;
}

main {
    margin: 0;
}

.containers {
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.plazas {
    margin: 10px;
    padding: 10px;
    background-color: #476593;
    border: solid white 1px;
    transition: transform .2s;
}
.plazas:hover {
    transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.plazas h1 {
    font-size: 35px;
    margin: 10px;
    text-align: center;
}

.box {
    margin: 10px;
    height: 200px;
    border: solid white 1px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

p {
    font-size: 20px;
    margin: 10px;
}

form {
    display: grid;
    grid-template-rows: 1fr;
    padding: 10px;
}

label {
    padding: 5px;
}

input[type=text] {
    width: 100%;
    border-radius: 5px;
    border: 0;
    margin-top: 1px;
}

input[type=submit] {
    width: 50%;
    color: #ffffff;
    background-color: #476593;
    border: solid white 1px;
    font-family: 'Josefin Sans', sans-serif;
    padding: 5px 0;
}

.submit {
    margin-top: 10px;
    text-align: center;
}

a {
    background-color: #D8544B;
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
    border: solid white 1px;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
}

.button {
    text-align: center;
    margin-bottom: 20px;
}

@media screen and (max-width: 900px) {
    .containers {
        grid-template-columns: 1fr 1fr;
    }

    header {
        font-size: 20px;
    }
}

@media screen and (max-width: 600px) {
    .containers {
        grid-template-columns: 1fr;
    }

    header {
        font-size: 15px;
    }
}

@media screen and (max-width: 400px) {
    p {
        font-size: 20px;
    }
}

@media screen and (max-width: 300px) {
    p {
        font-size: 15px;
    }
}