* {
    box-sizing: border-box;
}

body {
    margin:0 auto;
    background-color: #228E7B;
    color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
}

header {
    font-size: 30px;
    text-transform: uppercase;
    background-color: #476593;
    text-align: center;
}

header h1 {
    margin: 0;
    padding: 15px 10px;
    border-bottom: solid white 1px;
}

main {
    margin: 0;
}

.containers {
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.plazas {
    margin: 10px;
    padding: 10px;
    background-color: #476593;
    border: solid white 1px;
}

.plazas h1 {
    font-size: 35px;
    margin: 10px;
    text-align: center;
}

.box {
    margin: 10px;
    height: 200px;
    border: solid white 1px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

p {
    font-size: 20px;
    margin: 10px;
}

@media screen and (max-width: 900px) {
    .containers {
        grid-template-columns: 1fr 1fr;
    }

    header {
        font-size: 20px;
    }
}

@media screen and (max-width: 600px) {
    .containers {
        grid-template-columns: 1fr;
    }

    header {
        font-size: 15px;
    }
}

@media screen and (max-width: 400px) {
    p {
        font-size: 20px;
    }
}

@media screen and (max-width: 300px) {
    p {
        font-size: 15px;
    }
}