* {
    box-sizing: border-box;
}

body {
    margin:0 auto;
    background-color: #228E7B;
    color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
}

#header {
    background-color: #ACA355;
    border-bottom: solid white 1px;
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.header__bar {
    font-size: 30px;
    text-align: right;
}

h1 {
    text-transform: uppercase;
    margin: 0;
    margin-left: 50px;
    padding: 15px 10px;
}

.submit__button__div {
    text-align: center;
    padding: 20px;
    margin-top: 5px;
}

.submit__button {
    font-size: 20px;
    padding: 5px;
    background-color: #D8544B;
    border: solid white 1px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

main {
    margin: 0;
}

.error__message {
    text-size: 20px;
    margin: 10px 20px;
    background-color: #D8544B;
}

.containers {
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.plazas {
    margin: 10px;
    padding: 10px;
    background-color: #476593;
    border: solid white 1px;
    transition: transform .2s;
}

.plazas:hover {
    transform: scale(1.05);
}

.plazas h1 {
    font-size: 30px;
    margin: 10px;
    text-align: center;
}

.box {
    margin: 10px;
    height: 200px;
    border: solid white 1px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

p {
    font-size: 20px;
    margin: 10px;
}

.submit__plaza:hover {
    transform: none;
}

form {
    display: grid;
    grid-template-rows: 1fr;
    padding: 10px;
}

label {
    padding: 5px;
}

input[type=text] {
    width: 100%;
    border-radius: 5px;
    border: 0;
    margin-top: 1px;
}

input[type=submit] {
    width: 50%;
    color: #ffffff;
    background-color: #476593;
    border: solid white 1px;
    font-family: 'Josefin Sans', sans-serif;
    padding: 5px 0;
}

.submit {
    margin-top: 15px;
    text-align: center;
}

.back__button__div {
    text-align: center;
    margin-bottom: 20px;
}

.back__button {
    background-color: #D8544B;
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
    border: solid white 1px;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
}

@media screen and (max-width: 1185px) {
    .header__bar {
        font-size: 27px
    }

    h1 {
        margin-left: 20px;
    }

    .plazas h1 {
        font-size: 25px;
    }
}

@media screen and (max-width: 1040px) {
    .header__bar {
        font-size: 25px
    }

    .submit__button__div {
        padding: 15px;
    }

    .plazas h1 {
        font-size: 20px;
    }
}

@media screen and (max-width: 990px) {
    .header__bar {
        font-size: 23px
    }

    .submit__button__div {
        padding: 10px;
    }

    .plazas h1 {
        font-size: 20px;
    }
}

@media screen and (max-width: 930px) {
    .header__bar {
        font-size: 25px;
        text-align: center;
    }

    #header {
        grid-template-columns: 1fr;
    }

    h1 {
        padding-bottom: 0;
    }

    .plaza__name__container h1 {
        padding: 5px;
    }

    .submit__button__div {
        padding-top: 0px;
    }
    .submit__button {
        display: inline-block;
    }

    .containers {
        grid-template-columns: 1fr 1fr;
    }

    .plazas h1 {
        font-size: 30px;
    }
}

@media screen and (max-width: 760px) {
    .header__bar {
        font-size: 22px
    }
}

@media screen and (max-width: 680px) {
    .header__bar {
        font-size: 20px
    }
}

@media screen and (max-width: 610px) {
    .header__bar {
        font-size: 16px
    }
    .containers {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 400px) {
    p {
        font-size: 20px;
    }
}

@media screen and (max-width: 300px) {
    p {
        font-size: 15px;
    }
    .plazas h1 {
        font-size: 20px;
    }
}

